*{
            font-family: 'Times New Roman', Times, serif;
        }
        body{
            background: linear-gradient(90deg,#673AB7, #36f4f4);
        }
        #container{
            width: 450px;
            height: 500px;
            text-align: center;
            margin: auto;
            margin-top: 50px;
            background-color: white;
            border-radius: 20px;
            border-width: 2px;
            border-style: double ;
            border-color: brown;
        }
        .form-control{
            margin-bottom: 30px;
        }
        .form-control input{
            padding-top: 15px;
            padding-bottom: 15px;
            width: 65%;
            border: 0;
            border-bottom-width: 2px;
            border-bottom-style: solid;
            border-bottom-color: rgb(58, 183, 173);
            outline: 0;
        }
        .form-control button{
            margin-top: 10px;
            padding-top: 15px;
            padding-bottom: 15px;
            width: 25%;
            background: white;
            border-radius: 15px;
            border-width: 20%;
            cursor: pointer;
            transition: background 1s ease;
        }
        .form-control button:hover{
            background: rgb(0, 124, 128);
            color: white;
        }
        a{
            text-decoration: none;
        }